RewriteEngine on


Redirect /recenze-kadernicvi /recenze-kadernictvi

# cele domeny (aliasy)

RewriteCond %{REQUEST_URI} !^domains/

RewriteCond %{REQUEST_URI} !^/domains/

RewriteCond %{HTTP_HOST} ^(www\.)?(.*)$

RewriteCond %{DOCUMENT_ROOT}/domains/%2 -d

RewriteRule (.*) domains/%2/$1 [DPI]


# subdomeny (s nebo bez www na zacatku)
RewriteCond %{REQUEST_URI} !^subdom/
RewriteCond %{REQUEST_URI} !^/subdom/
RewriteCond %{HTTP_HOST} ^(www\.)?(.*)\.([^\.]*)\.([^\.]*)$
RewriteCond %{DOCUMENT_ROOT}/subdom/%2 -d
RewriteRule (.*) subdom/%2/$1 [DPI]


RewriteCond %{HTTP_HOST} ^kdomestriha.cz$
RewriteRule (.*) http://www.kdomestriha.cz/$1 [R=301,L]



# aliasy - spravne presmerovani pri chybejicim /

RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^domains/[^/]+/(.+[^/])$ /$1/ [R]



# subdomeny - spravne presmerovani pri chybejicim /

RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^subdom/[^/]+/(.+[^/])$ /$1/ [R]



# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)



# disable directory listing

Options -Indexes



# enable cool URL

<IfModule mod_rewrite.c>

	RewriteEngine On

	# RewriteBase /



	# front controller

	RewriteCond %{REQUEST_FILENAME} !-f

	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]

</IfModule>



# enable gzip compression

<IfModule mod_deflate.c>

	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json

</IfModule>



# allow combined JavaScript & CSS. Inside of script.combined.js you could use <!--#include file="script.js" -->

#<IfModule mod_include.c>

#	<FilesMatch "\.combined\.(js|css)$">

#		Options +Includes

#		SetOutputFilter INCLUDES

#	</FilesMatch>

#</IfModule>